
    <a href="/"><i href="/" class="fa-sharp fa-solid fa-house"></i></a>

<% if @myuser["id"] == current_user.id %>
    <section class="navcenter">
        <img src="<%= @myuser["img"] %>">
        <p><%= @myuser["login_id"] %></p>
    </section>
    <section>
        <!--<div class="wrapper">-->
            <!-- xxxx年xx月を表示 -->
        <!--    <h1 id="header"></h1>-->
        
            <!-- ボタンクリックで月移動 -->
        <!--    <div id="next-prev-button">-->
        <!--        <button id="prev" onclick="prev()">‹</button>-->
        <!--        <button id="next" onclick="next()">›</button>-->
        <!--    </div>-->
            
            <!-- カレンダー -->
        <!--    <div id="calendar"></div>-->
        <!--</div>-->
    </section>
<% else %>
    <section class="navcenter">
        <img src="<%= @myuser["img"] %>">
        <p><%= @myuser["name"] %></p>
        <% if Relationship.find_by(followed_id: User.find(@myuser["id"]).id, follower_id: current_user.id) and Relationship.find_by(followed_id: current_user.id, follower_id: User.find(@myuser["id"]).id) %>
            <p>友達</p>
        <% end %>
        <% if Relationship.find_by(followed_id: @myuser['id'], follower_id: current_user.id) %>
            <button class="followbtn" data-id="<%= @myuser['id'] %>">フォロー解除</button>
        <% else %>
            <button class="followbtn" data-id="<%= @myuser['id'] %>">フォローする</button>
        <% end %>
    </section>
<% end %>

<section>
    <% if @mymaps %>
        <div class="contributions">
            <% @maps.each do |map| %>
                    <% if Relationship.find_by(followed_id: map.user_id, follower_id: current_user.id) and Relationship.find_by(followed_id: current_user.id, follower_id: map.user_id) %>
                        <div class="contribution">
                            <img src="<%= User.find(map.user_id).img %>">
                            <div class="station">
                                <span class="name"><%= map.station %></span>
                            </div>
                            <p><%= map.content %></p>
                            <p><%= map.category %></p>
                        </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</section>